%header#global-header.navbar
  %a.ghost-logo{"data-off-canvas" => "left", href: main_app.ghost_train_path, title: "home"}
    %span.hidden Ghost
  %nav#global-nav{role: "navigation"}
    %ul#main-menu
      = render :partial => 'ghost_train/shared/ghost_main_menu'
      = render :partial => 'ghost_train/shared/ghost_user_menu'

